{{ form_start(form) }}
{{ form_widget(form) }}
<div class="row">
  <div class="col col-md-5">{{ form_row(form.name) }}</div>
  <div class="col col-md-5">{{ form_row(form.content) }}</div>
</div>
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
