{% import _self as formMacros %}
{% macro printImageRow(image) %}
    <div class="col-xs-4 js-genus-scientist-item">
        <a href="" class="js-remove-scientist pull-right">
            <i class="fas fa-trash"></i>
        </a>
        {{ form_errors(image) }}
        {{ form_row(image.url) }}
        {{ form_row(image.caption) }}
        <br>
    </div>
{% endmacro %}

{{ form_start(form) }}
<div class="row">
  <div class="col col-md-5">{{ form_row(form.name) }}</div>
  <div class="col col-md-5">{{ form_row(form.content) }}</div>
  <div class="col col-md-5">{{ form_row(form.category) }}</div>
  <div class="col col-md-5">{{ form_row(form.options) }}</div>

  <div
    class="col col-md-12 js-genus-scientist-wrapper"
    data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}"
    data-index="{{ form.images | length }}"
  >
    {% for image in form.images %}
      {{ formMacros.printImageRow(image) }}
    {% endfor %}
    <a href="#" class="js-genus-scientist-add">
      <span class="fas fa-circle"></span>
      Ajouter une image
    </a>
  </div>
</div>
 {# prevents weird label from showing up in new #}
 {{ form_widget(form.images) }}
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
