{% extends 'base.html.twig' %}
{% block title %}Article index
{% endblock %}
{%
block body %}


	<div class="container pt-5">
		{% for messages in app.flashes(['accesDenied', 'logout']) %}
			{% for message in
  messages %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<div class="row">
			{% for article in articles %}
				<div class="col-3">
					<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
						<div class="cardheader">
							<p class="text-center">{{ article.name }}
							</p>

							{% cache 'imagesIndex' ~ article.UpdatedAt.timestamp
          article.UpdatedAt.timestamp %}

							{% if article.images  | slice(0, 1) %}
								{% for image in article.images |slice(0, 1) %}
									<img class="img-fluid" src="{{ vich_uploader_asset(image, 'fileName') | imagine_filter('thumbs') }}" alt="{{ image.caption }}"/>
								{% endfor %}
							{% else %}
								<img src="https://via.placeholder.com/360x230" class="img-fluid">
							{% endif %}

							{% endcache %}
						</div>
						<div class="card-body">

							{% cache 'optionsIndex' ~ article.UpdatedAt.timestamp
          article.UpdatedAt.timestamp %}

							{% if article.options | slice(0, 1) %}
								<p>Villes:
									{{ article.options | join(', ') }}</p>
							{% else %}
								<p>
									Villes:
								</p>
							{% endif %}
							{% endcache %}

							<p class="card-text">
								{{ article.ExtraitContent }}
							</p>
							<a href="{{ path('article_show', { id: article.id, slug: article.slug }) }}" class="btn btn-success btn-block"> Voir plus</a>
						</div>
					</div>
				</div>
		{% else %}
			</div>
			<tr>
				<td colspan="4">Aucun a article</td>
			</tr>
		{% endfor %}
	</div>

	{# display navigation #}
	<div class="navigation">
		{{ knp_pagination_render(articles) }}
	</div>


{% endblock %}


{% block stylesheets %}
	<style>
		.card {
			border: none !important;
		}
	</style>
{% endblock %}
