{% extends 'base.html.twig' %} {% block title %}Article index{% endblock %} {%
block body %}

<div class="container pt-5">
  {% for messages in app.flashes(['accesDenied', 'logout']) %} {% for message in
  messages %}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {% endfor %} {% endfor %}

  <div class="row">
    {% for article in articles %}
    <div class="col-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h4>{{ article.name }}</h4>
        </div>
        <div class="card-body">
          
          {% cache 'article' ~ article.UpdatedAt.timestamp article.UpdatedAt.timestamp %}
          
          <p>Villes: {{ article.options | join(', ') }}</p>
          
          
          {% endcache %}
          
          <p class="card-text">
            {{ article.ExtraitContent }}
          </p>
          <a
          href="{{
            path('article_show', { id: article.id, slug: article.slug })
          }}"
          class="btn btn-success btn-block"
          >Voir plus</a
          >
        </div>
      </div>
    </div>
    {% else %}
  </div>
  <tr>
    <td colspan="4">Aucun a article</td>
  </tr>
  {% endfor %}
</div>

{% endblock %}
