{% extends 'base.html.twig' %} {% block title %}Article{% endblock %} {% block
body %}
<div class="container pt-5">
  <h1 class="text-center">{{ article.name }}</h1>
{% for image in article.images %} 
  <img class="img-fluid" src="{{ vich_uploader_asset(image, 'fileName') }}"/>
 <caption>{{ image.caption }}</caption>
{% endfor %}
  <p>{{article.slug}}</p>
  <P>{{ article.category }}</P>

  {{  article.options | join(', ') }}
  <p>{{ article.content }}</p>
</div>

{% endblock %}
