{% extends 'base.html.twig' %} {% block title %}Article{% endblock %} {% block
body %}

{% cache 'articleShow' ~ article.UpdatedAt.timestamp
          article.UpdatedAt.timestamp %} 

<div class="container pt-5">
  <h1 class="text-center">{{ article.name }}</h1>
  {% for image in article.images %}
  <img class="img-fluid" src="{{ vich_uploader_asset(image, 'fileName') }}" />
  <caption>
    {{
      image.caption
    }}
  </caption>
  {% endfor %}
  <p>{{ article.slug }}</p>
  <P>{{ article.category }}</P>

  {{  article.options | join(', ') }}
  <p>{{ article.content }}</p>

  <hr />
{% endcache %} 

  <div class="container">
    <h2>Il y a {{ article.comment | length }} Commentaire</h2>
    {% for comment in article.comment %}
    {{ comment.user.email }}
    <p>{{ comment.content }}</p>
    {% endfor %}
  </div>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <div class="row">
    <div class="col col-md-5">{{ form_row(form.content) }}</div>
  </div>
  <button class="btn btn-success">{{ button_label|default('Save') }}</button>
  {{ form_end(form) }}
</div>


{% endblock %}

 